@model IEnumerable<WebCNPM.Models.SAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSan }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSan })
        </td>
    </tr>
}

</table>
