@model WebCNPM.Models.MUAGIAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MUAGIAI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMua }) |
    @Html.ActionLink("Back to List", "Index")
</p>
