@model WebCNPM.Models.CAUTHU_GHIBAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CAUTHU_GHIBAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BANTHANG.BanThang1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANTHANG.BanThang1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CAUTHU.TenCauThu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAUTHU.TenCauThu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CAUTHU.MaDoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAUTHU.MaDoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CAUTHU.DOIBONG.TenDoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAUTHU.DOIBONG.TenDoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTranDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTranDau)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TRANDAU.MaMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANDAU.MaMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiDiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiDiem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCTGB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
