@model WebCNPM.Models.DOIBONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DOIBONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Đội
            @*@Html.DisplayNameFor(model => model.MaDoi)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDoi)
        </dd>
        <dt>
            Tên Sân
            @*@Html.DisplayNameFor(model => model.SAN.TenSan)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAN.TenSan)
        </dd>

        <dt>
            Tên Đội
            @*@Html.DisplayNameFor(model => model.TenDoi)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDoi)
        </dd>

        <dt>
            Ngày Thành Lập
            @*@Html.DisplayNameFor(model => model.NgayThanhLap)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayThanhLap)
        </dd>
        
        


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDoi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
