@model IEnumerable<WebCNPM.Models.DOIBONG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đội Bóng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Sân
            @*@Html.DisplayNameFor(model => model.SAN.TenSan)*@
        </th>
        <th>
            Tên Đội
            @*@Html.DisplayNameFor(model => model.TenDoi)*@
        </th>
        <th>
            Ngày Thành Lập
            @*@Html.DisplayNameFor(model => model.NgayThanhLap)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SAN.TenSan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThanhLap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDoi }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDoi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDoi })
        </td>
    </tr>
}

</table>
