@model IEnumerable<WebCNPM.Models.DOIBONG>

@{
    ViewBag.Title = "MyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/assets/doibong/index-doibong.css")
}


<br />
<br />
<div class="card">
    <div class="card-header">
        <div class="row">
            <h2 class="card-title" style="margin-left:10px;">
                <strong>Hồ Sơ Đội Bóng</strong>
            </h2>
            <button style="right:20px;" class="btn btn-primary position-absolute" onclick="addNewHoSo()">Thêm Hồ Sơ Đội Bóng</button>
        </div>
    </div>

    @*Receive All Database Data From Controller And Display Those Data In Client Side*@

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="card-body">
                <table class="table table-striped table-responsive">
                    <tbody>
                        <tr>
                            <td>Mã Đội Bóng : @item.MaDoi </td>
                            <td class="font-weight-bold">Tên Đội : @item.TenDoi </td>
                            <td>Mã Sân : @item.SAN.MaSan</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Mã Cầu Thủ</th>
                                            <th>Tên Cầu Thủ</th>
                                            <th>Ngày Sinh</th>
                                            <th>Mã Loại Cầu Thủ</th>
                                            <th>Quốc Tịch</th>
                                            <th>Ghi Chú</th>
                                            <th>Hình Ảnh</th>
                                        </tr>

                                        @foreach (var cauthu in item.CAUTHUs)
                                        {
                                            <tr>
                                                <td>@cauthu.MaCauThu</td>
                                                <td>@cauthu.TenCauThu</td>
                                                <td>@cauthu.NgaySinh</td>
                                                <td>@cauthu.MaLoaiCauThu</td>
                                                <td>@cauthu.QuocTich</td>
                                                <td>@cauthu.GhiChu</td>
                                                <td><img style="width:400px" src="@cauthu.HinhAnh" alt="Hình Cầu Thủ @cauthu.TenCauThu" /></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        <div class="card-body">
            <h3 style="color:red;">Empty!</h3>
        </div>

    }
</div>


<div class="modal fade" id="newModal">
    <div class="modal-dialog modal-xl" >
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&#xD7;</a>
                <h4 class="position-absolute" style="left:20px">Thêm Hồ Sơ</h4>
            </div>
            <form id="NewOrderForm">
                <div class="modal-body">
                    @*Doi Bong Details*@
                <h6 style="color:black">Thông Tin Đội Bóng</h6>
                <hr>
                <div class="form-group col">
                    <!--<input type="hidden" id="CustomerId">--> <!--HERE-->
                    <div class="form-group row">
                        <label class="col-form-label col-lg-1 font-weight-bold">Mã Đội Bóng</label>
                        <div class="col-md-4 col-3">
                            <input type="text" id="madoi" name="madoi" placeholder="Mã Đội" class="form-control"> <!--HERE-->
                        </div>
                        <label class="col-form-label col-lg-1 font-weight-bold">Tên Đội</label>
                        <div class="col-md-4 col-3">
                            <input type="text" id="tendoi" name="tendoi" placeholder="Tên Đội" class="form-control"> <!--HERE-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-1 font-weight-bold">Mã Sân</label>
                        <div class="col-md-4">
                            <input type="text" id="masan" name="masan" placeholder="Mã Sân"
                                   class="form-control">
                        </div>
                    </div>
                </div>
    
                    @*CauThu Details*@
                <h6 style="margin-top:10px;color:black">Thông Tin Cầu Thủ</h6>
                <hr>
                <div class="form-group col">
                    <input type="hidden" id="OrderId">  <!--HERE-->
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2 font-weight-bold">Mã Cầu Thủ</label>
                        <div class="col-lg-4">
                            <input type="text" id="macauthu" name="macauthu" placeholder="Mã Cầu Thủ"
                                   class="form-control">  
                        </div>
                        <label class="col-form-label col-lg-2 font-weight-bold">Tên Cầu Thủ</label>
                        <div class="col-lg-4">
                            <input type="text" id="tencauthu" name="tencauthu" placeholder="Tên Cầu Thủ"
                                   class="form-control">   
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2 font-weight-bold">Ngày Sinh</label>
                        <div class="col-lg-4">
                            <input type="date" id="ngaysinh" name="ngaysinh" placeholder="Ngày Sinh"
                                   class="form-control">
                        </div>
                        <label class="col-form-label col-lg-2 font-weight-bold">Loại Cầu Thủ</label>
                        <div class="col-lg-4">
                            <input type="text" id="maloaicauthu" name="maloaicauthu" placeholder="Mã Loại Cầu Thủ"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2 font-weight-bold">Quốc Tịch</label>
                        <div class="col-lg-4">
                            <input type="text" id="quoctich" name="quoctich" placeholder="Quốc Tịch"
                                   class="form-control">
                        </div>
                        <label class="col-form-label col-lg-2 font-weight-bold">Ghi Chú</label>
                        <div class="col-lg-4">
                            <input type="text" id="ghichu" name="ghichu" placeholder="Ghi Chú"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2 font-weight-bold">Hình Ảnh</label>
                        <div class="col-lg-4">
                            <input type="text" id="linkhinhanh" name="linkhinhanh" placeholder="Link Hình Ảnh"
                                   class="form-control">  
                        </div>
                        <div class="col-lg-2 offset-lg-2">
                            <a id="addToList" class="btn btn-primary">Thêm</a>   <!--HERE-->
                        </div>
                    </div>
                    <table id="detailsTable" class="table">
                        <thead>
                            <tr>
                                <th style="width:10% ; text-align:left;">Mã Cầu Thủ</th>
                                <th style="width:20% ; text-align:left;">Tên Cầu Thủ</th>
                                <th style="width:15% ; text-align:left;">Ngày Sinh</th>
                                <th style="width:15% ; text-align:left;">Mã Loại Cầu Thủ</th>
                                <th style="width:10% ; text-align:left;">Quốc Tịch</th>
                                <th style="width:10% ; text-align:left;">Ghi Chú</th>
                                <th style="width:20% ; text-align:left;">Link Hình Ảnh</th>
                                
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="saveHoSo" type="submit" class="btn btn-danger">Save HoSo</button>
            </div>
        </form>
    </div>
</div>
</div>



@section scripts{
    <script>
        //Show Modal.
        function addNewHoSo() {
            $("#newModal").modal();
        }
        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#macauthu").val()) == "" || $.trim($("#tencauthu").val()) == "" || $.trim($("#ngaysinh").val()) == "" ||
                $.trim($("#maloaicauthu").val()) == "" || $.trim($("#quoctich").val()) == "" || $.trim($("#ghichu").val()) == "" ||
                $.trim($("#linkhinhanh").val()) == "") return;

            var macauthu = $("#macauthu").val(),
                tencauthu = $("#tencauthu").val(),
                ngaysinh = $("#ngaysinh").val(),
                maloaicauthu = $("#maloaicauthu").val(),
                quoctich = $("#quoctich").val(),
                ghichu = $("#ghichu").val(),
                linkhinhanh = $("#linkhinhanh").val(),
                detailsTableBody = $("#detailsTable tbody");
            var date = new Date($("#ngaysinh").val());
            var datenow = new Date();
            //TODO:Change name of the variable productItem HERE
            if (datenow.getFullYear() - date.getFullYear() > 16 && datenow.getFullYear() - date.getFullYear() <40) {
                var productItem = '<tr><td>' + macauthu + '</td><td>' + tencauthu + '</td><td>' + ngaysinh + '</td><td>'
                    + maloaicauthu + '</td><td>' + quoctich + '</td><td>' + ghichu + '</td><td>' + linkhinhanh
                    + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
                detailsTableBody.append(productItem);
                clearItem();
            }
            else {
                alert("Tuổi cầu thủ phải lớn hơn 16 và nhỏ hơn 40");
            }
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#macauthu").val('');
            $("#tencauthu").val('');
            $("#ngaysinh").val('');
            $("#maloaicauthu").val('');
            $("#quoctich").val('');
            $("#ghichu").val('');
            $("#linkhinhanh").val('');
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });



        //After Click Save Button Pass All Data View To Controller For Save Database
        

        


            function saveHoSo(data) {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "/DoiBong/SaveHoSo",
                    data: data,
                    success: function (result) {
                        alert(result);
                        location.reload();
                    },
                    error: function () {
                        alert("Error!")
                    }
                });
            }
            //Collect Multiple Order List For Pass To Controller
        $("#saveHoSo").click(function (e) {
            
                e.preventDefault();

                var orderArr = [];
                orderArr.length = 0;

                $.each($("#detailsTable tbody tr"), function () {
                    orderArr.push({
                        macauthu: $(this).find('td:eq(0)').html(),
                        tencauthu: $(this).find('td:eq(1)').html(),
                        ngaysinh: $(this).find('td:eq(2)').html(),
                        maloaicauthu: $(this).find('td:eq(3)').html(),
                        quoctich: $(this).find('td:eq(4)').html(),
                        ghichu: $(this).find('td:eq(5)').html(),
                        linkhinhanh: $(this).find('td:eq(6)').html(),
                    });
                });


                var data = JSON.stringify({
                    madoi: $("#madoi").val(),
                    tendoi: $("#tendoi").val(),
                    masan: $("#masan").val(),
                    order: orderArr
                });

                $.when(saveHoSo(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    console.log(err);
                });
            
            });
        
        
    </script>
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@
}