@model WebCNPM.Models.THAMSO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>THAMSO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TuoiTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuoiTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuoiTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuoiTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoCauThuTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCauThuTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoCauThuTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCauThuTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoCauThuNgoaiTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCauThuNgoaiTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiDiemTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiDiemTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiDiemTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiDiemTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemThang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemThang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemHoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemHoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemThua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemThua)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
