@model WebCNPM.Models.CAUTHU

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CAUTHU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Đội
            @*@Html.DisplayNameFor(model => model.DOIBONG.TenDoi)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOIBONG.TenDoi)
        </dd>

        <dt>
            Loại Cầu Thủ
            @*@Html.DisplayNameFor(model => model.LOAICAUTHU.LoaiCauThu1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAICAUTHU.LoaiCauThu1)
        </dd>

        <dt>
            Tên Cầu Thủ
            @*@Html.DisplayNameFor(model => model.TenCauThu)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCauThu)
        </dd>

        <dt>
            Ngày Sinh
            @*@Html.DisplayNameFor(model => model.NgaySinh)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Quốc Tịch
            @*@Html.DisplayNameFor(model => model.QuocTich)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuocTich)
        </dd>

        <dt>
            Ghi Chú
            @*@Html.DisplayNameFor(model => model.GhiChu)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            Link Hình Ảnh
            @*@Html.DisplayNameFor(model => model.HinhAnh)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCauThu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
